.loginMainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
}

.loginCardContainer {
  margin: 30px;
  background-color: #272727;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
}

.loginLogoContainer {
  display: flex;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginLogoImg {
  text-align: center;
  margin: 30px;
  width: 100px;
  margin: 10px;
  height: 35px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 13px;

  margin-bottom: 5px;
}

.loginInput {
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #7e858e;
  height: 25px;
  color: #ffffff;
}

.loginBtn {
  border: none;
  background-color: #4f46e5;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 0px;
}

.errorMsg {
  color: #ff0b37;
  font-size: 13px;
  margin: 2px;
}
